<!--

  variável local para fazer referencia ao formulário!
  todo trabalho é no código HTML o template do componente

  #f -  é a variável local

  - #f tbm precisa ficar assocaida a alguma diretiva do angular
  no caso o ngForm. Solicita auxílio do angular
  para gerenciar o form referenciado pelo #f.

  ngModel nos inputs captura o valor do campo atraves da variavel name
  form.value."texto no campo name"

  Caso  queira trabalhar com com two-way data binding
  a diretiva [(ngModel)] recebe o objeto criado no componente
  no caso usuario.nome e usuario.email

  Caso queira o PROPERTY binding (SO LER DADO NO COMPONENTE
  e NAO ATUALIZA)
  a diretiva [ngModel]
-->

<form #f="ngForm" (ngSubmit)="onSubmit(f)" >
  <div class="form-group">
    <label for="nome" class="form-label">Nome</label>
    <!--
    <input type="text" class="form-control" name="nome"
    id="nome" placeholder="Nome" ngModel="usuario.nome">
    -->
    <!--
    <input type="text" class="form-control" name="nome"
    id="nome" placeholder="Nome" [(ngModel)]="usuario.nome">
    -->
    <input type="text" class="form-control" name="nome"
    id="nome" placeholder="Nome" [ngModel]="usuario.nome"
    required #nome>
    <div>
      <!-- ver na tela as classes aplicadas no campo
      com a variável nome
    classes aplincadas ao CONTORLE e o form em si é controle-->
      {{nome.className}}
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name="email"
    id="email" placeholder="nome@email.com" [(ngModel)]="usuario.email"
    required email #email>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

