<!--
  componentes de rotas utilizado por esse elemento!
-->

<!--
  Inserindo diretiva (RouterLink) para acessar as rotas
-->

<nav *ngIf="mostrarMenu">
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo right">Rotas NG2</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="">Home</a></li>
      <!-- routa normal-->
      <li routerLinkActive="active"><a routerLink="/cursos">Cursos</a></li>
      <!-- routa com parametros de query
      obj javascript {chave: valor} poderia ser variável tbm.
      -->
      <!--
      <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a></li>
      <li routerLinkActive="active"><a [routerLink]="['curso',idCurso.value]">Curso com Detalhe</a></li>
      -->
      <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <p>Entre com o id do curso</p>
  <input #idCurso (input)="0">
  <router-outlet></router-outlet>
</div>


