.side-info{
  margin-top: 20px;
}

.info-name span{
  text-align: center;
  font-size: 16px;
}

.grid-name {
  margin-bottom: 10px;
  margin-top: 10px;
}

.info-image {
  max-width: 100%;
  height: 150px;
}

a:link{
  text-decoration: none;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 18px !important;
}

.text-info {
  padding-left: 3px;
  text-align: left;
}

.grid-info {
  margin-bottom: 5px;
  text-decoration: none;
}





