<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l2 m4 s12">
         <img class="responsive-img footer-image" src="assets/img/brasao_negativo.png">
      </div>

      <div class="col l9 m8 s12 footer-dca">
        <h6 class="white-text">Departamento de Engenharia de Computação e Automação</h6>
        <p class="grey-text text-lighten-4">UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE - CENTRO DE TECNOLOGIA</p>
        <i class="inline-icon material-icons-outlined">room</i> <span>UFRN Campus Universitário Lagoa Nova - 59078-970 - Natal/RN - BRASIL</span><br>
        <i class="inline-icon material-icons-outlined">call</i> <span>+55 (84) 3342-2231 (ext 220 ou 200)</span>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2021 Desenvolvido por Jean Mário M. Lima - DCA-CT-UFRN
    </div>
  </div>
</footer>
