.navmenu-items li{
  margin-left: 5px;
}

.navmenu-items span{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 5px;
}

.inline-icon {
  vertical-align: bottom;
  //line-height: 55px;
  font-size: 22px !important;
}
.navmenu-prop{
  margin-bottom: 20px;
  //height: 70px;
}

.navmobile > li > a{
  color: white;
  font-weight:700;
  text-transform: uppercase;
}
/*
.navmenu-prop .navmenu-items > li > a {
  height: 70px;
  line-height: 70px;
   }
*/


    /*
###########################
#### DCA LOGO
##
*/

.dca .container_logo {
  margin: 0 auto;

}

.dca .container_line {
  width: 100px;
  height: 41px;
  margin-top: 12px;
  margin-right: 5px;
  background-color: transparent;
}

.dca .line {
  width: 100%;
  height: 1px;
  background-color: #bbb;
  margin-bottom: 7px;
  box-shadow: 0.5px 0.5px #888;
}

.dca .caption {
  position: relative;
  overflow: hidden;
}

.dca .overlay {
  position: absolute;
  bottom: -25px;
  left: 4px;
  color: #fff; /* TEXT COLOR */
  text-shadow: 1px 1px #999; /* SHADOW COLOR */
}

.dca .overlay > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: -3px;
}

.dca .overlay > h1 span {
  position: relative;
  top: 8px;
  left: -2px;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
.profileMod {
height:auto;
}


}
