<nav class="blue darken-4 navmenu-prop">
  <div class="container">
    <div class="nav-wrapper" >

      <a href="https://www.dca.ufrn.br" class="right">

        <!-- DCA LOGO -->

          <div class='dca container_logo'>
            <article class='dca caption'>
              <div class='dca container_line'>
                <div class='dca line'></div>
                <div class='dca line'></div>
                <div class='dca line'></div>
                <div class='dca line'></div>
                <div class='dca line'></div>
                <div class='dca line'></div>
                <div class='dca line'></div>
              </div>
              <div class='dca overlay'>
                <h1>D<span>C</span>A</h1>
              </div>
            </article>
          </div>


      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down navmenu-items">
        <li><a routerLink="/home" routerLinkActive="active"><i class="inline-icon material-icons-outlined">home</i><span> Home</span></a></li>

        <li><a routerLink="/ensino" routerLinkActive="active"><i class="inline-icon material-icons-outlined">school</i><span> Ensino</span></a></li>
        <li><a routerLink="/pesquisa" routerLinkActive="active"><i class="inline-icon material-icons-outlined">biotech</i><span> Pesquisa</span></a></li>
        <li><a routerLink="/extensao" routerLinkActive="active"><i class="inline-icon material-icons-outlined">extension</i><span> Extensão</span></a></li>

      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav blue darken-3 navmobile" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="sass.html">Ensino</a></li>
  <li><a href="sass.html">Pesquisa</a></li>
  <li><a href="sass.html">Extensão</a></li>
</ul>

