<h5>Informações do Usuário</h5>
<br>
  <div class="row">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input name="nome" placeholder="{{usuario.nome}}"
          [ngModel]="usuario.nome"
          id="nome" type="text" class="validate"
          [class.is-invalid]="!nome.valid && nome.touched"
          [class.is-valid]="nome.valid && nome.touched"
          required #nome="ngModel">
          <label class="active" for="nome">Nome</label>
          <span *ngIf="!nome.valid && nome.touched" class="helper-text"
          data-error="Nome é um campo obrigatório!" data-success=""></span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input name="email" id="email" type="email"
          [ngModel]="usuario.email"
          placeholder="usuario@dca.ufrn.br"
          required email #email="ngModel"
          class="validate"
          [class.is-invalid]="!email.valid && email.touched"
          [class.is-valid]="email.valid && email.touched">
          <label class="active" for="email">Email</label>

          <span *ngIf="!email.valid && email.touched || email.dirty"
          class="helper-text"
          data-error="Email válido é obrigatório!" data-success="">
          </span>
        </div>
        <div class="input-field col s6">
          <input name="contato" id="contato" type="text"
          [ngModel]="usuario.contato"
          class="validate" placeholder="(XX) XXXX-XXXX"
          #contato="ngModel">
          <label class="active" for="contato">Contato</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="estacao_trabalho" id="estacao_trabalho" type="text"
          [ngModel]="usuario.estacao_trabalho"
          class="validate" placeholder="CTEC 217"
          #local_trabalho="ngModel">
          <label class="active" for="estacao_trabalho">Local de Trabalho</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="link_lattes" id="link_lattes" type="text"
          [ngModel]="usuario.link_lattes"
          class="validate" #link_lattes="ngModel">
          <label class="active" for="link_lattes">Link Currículo Lattes</label>
        </div>
      </div>
      <button
      class="btn blue darken-4" style="margin-right: 10px;"
      [disabled]="!f.valid" type="submit">Editar
        <i class="material-icons right">send</i>
      </button>
      <button class="btn blue" type="reset">Cancelar <i class="material-icons right">cancel</i></button>
    </form>
  </div>
