/* You can add global styles to this file, and also import other style files */
//@import 'material-icons/iconfont/material-icons.scss';


app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
