<h4 class="text-name">{{usuario.nome}}</h4>
<div class="divider"></div>
<p class="text-description">
  {{usuario.descricao}}
</p>

<div class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <input disabled [(ngModel)]="usuario.id" id="disabled" class="validate" type="text">
      <label for="disabled" class="active">#</label>
    </div>
  </div>
  <!-- two eay data binding para aperecer os dados atuais
  importar o FormsModule
  Utiliza o NgModel-->
  <div class="row">
    <div class="input-field col s12">
      <input id="nome" [(ngModel)]="usuario.nome" class="validate" (input)="onInput()">
      <label for="nome" class="active">Nome</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="descricao" [(ngModel)]="usuario.descricao" class="materialize-textarea"></textarea>
      <label for="descricao" class="active">Descrição</label>
    </div>
  </div>
</div>
