<app-nav-menu></app-nav-menu>


<div class="container">

  <div class="row">
    <div class="col s3">
      <ul>
        <li><div class="user-view">
          <div class="background">

          </div>
          <a href="#user"><img class="circle" src="assets/img/jeanmmlima2.jpg" width="180px" height="180px"></a>
          <span>Jean Mário M Lima</span><br>
          <a href="#email"><span class="email">jean@gmail.com</span></a>
        </div></li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
      </ul>
    </div>
    <div class="col s9">
      <h4>Jean Mário Moreira de Lima</h4>
      <div class="divider"></div>
      <p> Doutor em Engenharia Elétrica e de Computação (2021) pelo Programa de Pós Graduação em Engenharia Elétrica e de Computação (PPgEEC) da Universidade Federal do Rio Grande do Norte (UFRN). Mestre em Engenharia Mecatrônica (2018) pelo Programa de Pós Graduação em Engenharia Mecatrônica (PEM) da UFRN. É Engenheiro de Computação (2016) e Bacharel em Ciências e Tecnologia (2013), ambos pela UFRN. Também é Técnico em Automação Industrial (2015) pelo North Island College, Courtenay/BC, Canadá. Técnico em Informática pelo IFRN (2010). Trabalha como Engenheiro de Computação do Departamento de Engenharia de Computação e Automação (DCA) da UFRN desde 2017. Área de pesquisa: Inteligência Artificial, Redes Neurais Artificiais, Aprendizado Profundo, Identificação de Sistemas Dinâmicos </p>
    </div>
  </div>

</div>

<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
