<h4 class="text-name">Jean Mário Moreira de Lima</h4>
<div class="divider"></div>
<p class="text-description">
  Doutor em Engenharia Elétrica e de Computação (2021) pelo Programa de Pós Graduação em Engenharia Elétrica e de Computação (PPgEEC) da Universidade Federal do Rio Grande do Norte (UFRN). Mestre em Engenharia Mecatrônica (2018) pelo Programa de Pós Graduação em Engenharia Mecatrônica (PEM) da UFRN. É Engenheiro de Computação (2016) e Bacharel em Ciências e Tecnologia (2013), ambos pela UFRN. Também é Técnico em Automação Industrial (2015) pelo North Island College, Courtenay/BC, Canadá. Técnico em Informática pelo IFRN (2010). Atualmente, trabalha como Engenheiro de Computação do Departamento de Engenharia de Computação e Automação (DCA) da UFRN desde 2017. Área de pesquisa: Inteligência Artificial, Aprendizado de Máquina e Desenvolvimento de Sistemas.
</p>


<section class='new-sec'>
      <div class='text'>
       <h5>Produções Acadêmicas</h5>
       <div class="divider"></div>
       <ul>

            <li><p>DCA0414 Introdução a Robótica</p></li>
            <ul>
              <li> Apostila para utilização do braço robótico AL5D v2.0:
                <a href="apostila_al5dv2.pdf"> Apostila_al5dv2.pdf </a>
              </li>
              <li> Driver na liguagem C para utilização do braço robótico AL5D v2.0:
                <a href="drivers/demo_lynxC.tar.gz"> demo_lynxC.tar.gz </a>
              </li>
              <li> Driver na linguagem Python para utilização braço robótico AL5D v2.0:
                <a href="drivers/demo_lynxPy.tar.gz"> demo_lynxPy.tar.gz </a>
              </li>
              <li> Simulador baseado em V-REP para o braço robótico AL5D v2.0:
                <a href="simulators/AL5D-LYNX-Simulator-master.zip"> AL5D-LYNX-Simulator-master.zip </a>
              </li>
            </ul>
            <br>
          <li><p> DCA0118 Processamento Digital de Sinais</p></li>
            <ul>
              <li> Apostila para utilização das Placas DSP e Code Composer no Windows 10:
                <a href="pds/ApostilaDSP.pdf"> ApostilaDSP.pdf </a>
              </li>
              <li> Programa de demonstração para utilização da DSP:
                <a href="pds/main.c"> blink_led.c </a>
              </li>
              <li> Manual de utilização da placa DSP:
                <a href="pds/Manual_DSP.pdf"> Manual_DSP.pdf </a>
              </li>
              <li> Arquivos auxiliares do DSP Starter Kit:
                <a href="pds/DSP_Starter_Kit.zip"> DSP_Starter_Kit.zip </a>
              </li>
            </ul>
            <br>
          <li><p>DCA0216 Sistemas de Controle</p></li>
          <ul>
              <li> Simulação base para utilização dos tanques acoplados Quanser:
                <a href="coupled_tanks.zip"> coupled_tanks.zip </a>
              </li>
  <li>Simulador dos Tanques Acoplados para Andorid (.apk)
<a href="simulador-tanques-acoplados.apk">Simulador-tanques-acoplados.apk </a>
  </li>
  <li>Código cliente par conexão com o simulador em Python
                  <a href="exemplo.py">exemplo.py </a>
              </li>

          </ul>
<br>

<li><p> DCA0413 e EEC1109 Controle Inteligente</p></li>
          <ul>
              <li> Apostila de Apoio Técnico para Controle Inteligente:
                <a href="Apostila-Controle-Inteligente.pdf"> ApostilaCI.pdf </a>
              </li>
              <li>Exemplo sistema fuzzy utilizando o Fuzzy Logic Toolbox
                  <a href="exemplo.fis">exemplo.fis </a>
              </li>

          </ul>

<br>



       </ul>
     </div>

</section>
